# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

**Numbers:** Python supports integers, floating point numbers and complex numbers. They are defined as int, float and complex class in Python.

**Strings:**  A string in Python is a SEQUENCE of CHARACTERS. It is a derived data type. Strings are immutable. This means that once defined, they cannot be changed.

**Lists:** A list is a data structure in Python that is a mutable, or changeable, ordered SEQUENCE of ELEMENTS. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

**Tuples:** A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

**Dictionaries:**  A dictionary is an associative array (also known as hashes). Any key of the dictionary is associated (or mapped) to a value. The values of a dictionary can be any Python data type. So dictionaries are unordered key-value-pairs.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
100 + 1/4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) --> 44
    
    What is the value of the expression 4 * 6 + 5 --> 29
    
    What is the value of the expression 4 + 6 * 5 --> 34

In [4]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> --> A float

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
# Square root:
The function sqrt

In [6]:
# Square:
The operator **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [9]:
s = 'hello'
# Print out 'e' using indexing

In [10]:
print(s[1])

e

Reverse the string 'hello' using slicing:

In [11]:
s ='hello'
# Reverse the string using slicing

In [12]:
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s ='hello'
# Print out the 'o'

# Method 1:

In [14]:
s[-1]

'o'

In [15]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [16]:
# Method 1:
my_list = [0,0,0]

In [51]:
# Method 2:
my_other_list = [None] * 3

In [52]:
my_other_list

[None, None, None]

In [53]:
for elem in range(len((my_other_list))):            
    my_other_list[elem] = 0

In [54]:
my_other_list

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [55]:
list3 = [1,2,[3,4,'hello']]

In [56]:
list3[2][2] = 'goodbye'

Sort the list below:

In [57]:
list4 = [5,3,4,6,1]

In [59]:
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [60]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [61]:
d['simple_key']

'hello'

In [62]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [63]:
d['k1']['k2']

'hello'

In [64]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [69]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [70]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [77]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
You can't because a dictionary is a collection of no-order keys pointing to specific elements. It doesn't have any sorting funciton associated with it.

A mapping has no ordering ...

## Tuples

What is the major difference between tuples and lists?<br><br>
The main difference is that tuples are immutable, whereas lists as mutable, that is, you can reassign each one of its elements.

How do you create a tuple?<br><br>
With parenthesis: tuple = (elem1, elem2, elem3)

## Sets

What is unique about a set?<br><br> It's uniqueness lies on the fact that all its elements are unique (no repeated values and that it is immutable)

Use a set to find the unique values of the list below:

In [78]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [79]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [82]:
# Answer before running cell
# False
2 > 3

False

In [83]:
# Answer before running cell
# False
3 <= 2

False

In [84]:
# Answer before running cell
# False
3 == 2.0

False

In [85]:
# Answer before running cell
# True
3.0 == 3

True

In [86]:
# Answer before running cell
# False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [87]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

# False

False